# Build artifacts
*.o
*.ko
*.mod
*.mod.c
*.cmd
modules.order
Module.symvers

# Binaries
mkfs_deadbeef

# Disk images
filesys.db
*.img

# Editor
*.swp
*.swo
*~
.vscode/

# LKM build artifacts
docs/
lkm/*.o
lkm/*.ko
lkm/*.mod*
lkm/Module.symvers
lkm/modules.order
lkm/.*.cmd
lkm/.tmp_versions/
